BOT_TOKEN=
OWNER_USERNAME=
SYNOLOGY_HOST=
SYNOLOGY_USER=
SYNOLOGY_PASSWORD=
TOLOKA_USERNAME=
TOLOKA_PASSWORD=
WATCHTOWER_TELEGRAM_URL=
NAS_REACHABILITY_POLL_MS=60000
NAS_DOWN_DEBOUNCE_COUNT=3
DOCKER_SOCKET_PATH=/var/run/docker.sock
DISK_USAGE_POLL_MS=600000
DISK_FULL_HIGH_PCT=90
DISK_FULL_LOW_PCT=85
POLL_INTERVAL_MS=30000
DISK_HEALTH_POLL_MS=600000
DISK_TEMP_WARN_C=50
DISK_TEMP_BAD_C=56
FINISHED_DEBOUNCE_MS=60000
FINISHED_GROUP_THRESHOLD=3
AUTOCLEANER_POLL_MS=3600000
AUTOCLEANER_RETENTION_DAYS=7
MINIAPP_PORT=8080
